<div id="login-block" class="row">
    <div class="column">
        <div class="error" id="error"></div>
        <form name="login">
            <input type="text" name="token" required autofocus autocomplete="on" minlength="8">
            <input type="submit" value="Submit">
        </form> 
    </div>
</div>

<div class="row">
    <div id="content" class="column"></div>
</div>
