<div class="row first-page">
    <div class="column">
        <form name="login">
            <input type="text" name="token" placeholder="token" required autofocus autocomplete="on" minlength="5">
            <input type="submit" value="show">
        </form> 
        <div class="error" id="error"></div>
    </div>
</div>

{{#if demo.tokens.read}}
<div class="row first-page">
    <div class="column">
        Demo Token: {{demo.tokens.read}}
    </div>
</div>
{{/if}}
{{#if demo.tokens.write}}
<div class="row">
    <div class="column">
        Demo API
            {{#if demo.api_docs_enabled}} (<a href="/api-docs">docs here</a>){{/if}}
         Token: {{demo.tokens.write}} 
    </div>
</div>
{{/if}}

<div class="row hidden">
    <div class="column">
        <h1>Deployments</h1>
    </div>
</div>
<div class="row hidden">
    <div class="column">
        <input type="text" class="table-search" data-table="searchable" placeholder="Item to search.." />    
    </div>
</div>
<div class="row hidden">
    <div class="column">
        <table id="deployments-table" class="searchable sortable"></table>
    </div>
</div>