<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <!-- CSS Reset -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <!-- Milligram CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    <link rel="stylesheet" href="/styles/sortable.css">
    <link rel="stylesheet" href="/styles/app.css">
  </head>
  <body class="main">
    <div class="container">
        {{{body}}}
        <a class="gihub-link" href="https://github.com/yehor-chernyshov/deployments" target="_blank"> 
          <img src="/images/github.svg" alt="github icon">
        </a>
    </div>
    <script src="/js/searchable.js"></script>
    <script src="/js/sortable.js"></script>
    <script src="/js/generator.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
