form {
    display: flex;
    flex-direction: row;
    margin-top: 300px;
}

.error {
    color: red;
}

tr:hover {
    background-color: rgb(240, 240, 240);
}

.hidden {
    display: none;
}

.gihub-link {
    position: absolute;
    top: 20px;
    right: 20px;
}

.gihub-link>img {
    height: 30px;
}